body {
    color: #333;
    background-color: #fff;
    letter-spacing: 1px;
}

.title{
    height: 900px;
    background-image: url("../img/mainBackground.jpg");
}

.titleMessage{
    position: absolute;
    width: 100%;
    height: 200px;
    top: 50%;
    text-align: center;
    top: 20%;
}

.titleMessage .heading p {
    color: #fff;
    text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.4);
    font-weight: 100;
    letter-spacing: 7px;
}

.titleMessage .heading .main{
    font-size: 100px;
    font-family: "Dosis";
    color: green;
}

.titleMessage .heading .sub{
    font-size: 90px;
    font-family: "Dosis";
}

.email{
    display: block;
    margin-right: auto;
    margin-left: auto;
    height: 40px;
    width: 500px;
}

.inputEmail{
    height: 40px;
    width: 90px;
    background-color: #9FE2BF;
    border-radius: 10%;
    display: inline-block;
}

.section{
    padding: 50px 0;
}

#appleImage{
    max-width: 100%;
}

.secondDivTitle{
    font-size: 60px;
    font-family: "Dosis";
    font-weight: bold;
}

.secondDivDescription{
    font-size: 30px;
    font-family: "Dosis";
    font-weight: bold;
}

.loginForm{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Dosis";
    width: 500px;
    height: 400px;
    background: white;
    border-radius: 10px;
}

.loginForm h1{
    text-align: center;
    padding: 30px 0 30px 0;
    border-bottom: 1px solid silver;
}

.loginForm form{
    padding: 0 40px;
    box-sizing: border-box;
}

form .emailField{
    position: relative;
    border-bottom: 2px solid;
    margin: 40px 0;
}

.emailField input{
    width: 100%;
    padding: 0 5px;
    height: 20px;
    font-size: 16px;;
    border: none;
    background: none;
    outline: none;
}

.emailField label{
    position: absolute;
    top: 110%;  
    left: 5px;
    color: gray;
}

form .passField{
    position: relative;
    border-bottom: 2px solid;
    margin: 30px 0;
}

.passField input{
    width: 100%;
    padding: 0 5px;
    height: 20px;
    font-size: 16px;;
    border: none;
    background: none;
    outline: none;
}

.passField label{
    position: absolute;
    top: 110%;  
    left: 5px;
    color: gray;
}

.loginForm input[type="submit"]{
    width: 100%;
    height: 50px;
    border: 1px solid;
    background: #9FE2BF;
    border-radius: 25px;
    font-size: 18px;
    font-weight: 900;
    outline: none;
}

.signup_link{
    margin: 30px 0;
    text-align: center;
}

.signinForm{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Dosis";
    width: 500px;
    height: 600px;
    background: white;
    border-radius: 10px;
}

.signinForm h1{
    text-align: center;
    padding: 30px 0 30px 0;
    border-bottom: 1px solid silver;
}

.signinForm form{
    padding: 0 40px;
    box-sizing: border-box;
}

form .firstName{
    position: relative;
    border-bottom: 2px solid;
    margin: 40px 0;
}

.firstName input{
    width: 100%;
    padding: 0 5px;
    height: 20px;
    font-size: 16px;;
    border: none;
    background: none;
    outline: none;
}

.firstName label{
    position: absolute;
    top: 110%;  
    left: 5px;
    color: gray;
}

form .lastName{
    position: relative;
    border-bottom: 2px solid;
    margin: 40px 0;
}

.lastName input{
    width: 100%;
    padding: 0 5px;
    height: 20px;
    font-size: 16px;;
    border: none;
    background: none;
    outline: none;
}

.lastName label{
    position: absolute;
    top: 110%;  
    left: 5px;
    color: gray;
}


form .emailCreate{
    position: relative;
    border-bottom: 2px solid;
    margin: 40px 0;
}

.emailCreate input{
    width: 100%;
    padding: 0 5px;
    height: 20px;
    font-size: 16px;;
    border: none;
    background: none;
    outline: none;
}

.emailCreate label{
    position: absolute;
    top: 110%;  
    left: 5px;
    color: gray;
}


form .passCreate{
    position: relative;
    border-bottom: 2px solid;
    margin: 40px 0;
}

.passCreate input{
    width: 100%;
    padding: 0 5px;
    height: 20px;
    font-size: 16px;;
    border: none;
    background: none;
    outline: none;
}

.passCreate label{
    position: absolute;
    top: 110%;  
    left: 5px;
    color: gray;
}

form .confirmPass{
    position: relative;
    border-bottom: 2px solid;
    margin: 40px 0;
}

.confirmPass input{
    width: 100%;
    padding: 0 5px;
    height: 20px;
    font-size: 16px;;
    border: none;
    background: none;
    outline: none;
}

.confirmPass label{
    position: absolute;
    top: 110%;  
    left: 5px;
    color: gray;
}

.signinForm input[type="submit"]{
    width: 100%;
    height: 50px;
    border: 1px solid;
    background: #9FE2BF;
    border-radius: 25px;
    font-size: 18px;
    font-weight: 900;
    outline: none;
}

.loginLink{
    margin: 30px 0;
    text-align: center;
}