body {
    color: #333;
    background-color: #fff;
    letter-spacing: 1px;
}

header{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

header li{
    list-style: none;
}

header a{
    text-decoration: none;
    color: black;
}

.navbar{
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
    font-family: "Dosis";
}

.nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
    padding-top: 10px;

}

.nav-branding{
    font-size: 2rem;
}

.nav-link{
    transition: 0.7s ease;
}

.nav-link:hover{
    color: dodgerblue;
}

.hamburger{
    display: none;
    cursor: pointer;
}

.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: black;
}

@media(max-width: 768px){
    .hamburger{
        display: block;
    }

    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu{
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background-color: white;
        text-align: center;
        transition: 0.3s;
        width: 100%;
    }

    .nav-item{
        margin: 16px 0;
    }

    .nav-menu.active{
        left: 0;
    }
}

.title{
    height: 900px;
    background-image: url("../img/mainBackground.jpg");
}

#appleMenu{
    max-width: 10%;
    height: 10%;
}

.titleMessage{
    position: absolute;
    height: 600px;
    top: 60%;
    text-align: center;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 100;
    letter-spacing: 7px;
    font-family: "Dosis";
    background-color: rgb(0,0,0,0.5);
}

@media(max-width: 1188px){
    .titleMessage{ 
        height: 850px;
    }
}

.titleMessage p {
    color: #fff;
    text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.4);
    font-size: 90px;
}

.dailyEmail input{
    height: 40px;
    width: 500px;
    margin: -5px 0 30px 5px;
}

.inputEmail{
    width: 50%;
    height: 50px;
    border: 1px solid;
    background: #9FE2BF;
    border-radius: 25px;
    font-size: 18px;
    font-weight: 900;
    outline: none;
}

.section{
    padding: 50px 0;
}

#appleImage{
    max-width: 100%;
}

.secondDivTitle{
    font-size: 60px;
    font-family: "Dosis";
    font-weight: bold;
}

.secondDivDescription{
    font-size: 30px;
    font-family: "Dosis";
    font-weight: bold;
}

.loginForm{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Dosis";
    width: 500px;
    height: 450px;
    background: white;
    border-radius: 10px;
}

.loginForm h1{
    text-align: center;
    padding: 30px 0 30px 0;
    border-bottom: 1px solid silver;
}

.loginForm form{
    padding: 0 40px;
    box-sizing: border-box;
}

form .emailField{
    position: relative;
    border-bottom: 2px solid;
    margin: 40px 0;
}

.emailField input{
    width: 100%;
    padding: 0 5px;
    height: 20px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}

.emailField label{
    position: absolute;
    top: 110%;  
    left: 5px;
    color: gray;
}

form .passField{
    position: relative;
    border-bottom: 2px solid;
    margin: 30px 0;
}

.passField input{
    width: 100%;
    padding: 0 5px;
    height: 20px;
    font-size: 16px;;
    border: none;
    background: none;
    outline: none;
}

.passField label{
    position: absolute;
    top: 110%;  
    left: 5px;
    color: gray;
}

.loginForm input[type="submit"]{
    width: 100%;
    height: 50px;
    border: 1px solid;
    background: #9FE2BF;
    border-radius: 25px;
    font-size: 18px;
    font-weight: 900;
    outline: none;
}

.signup_link{
    margin: 30px 0;
    text-align: center;
}

.signinForm{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Dosis";
    width: 500px;
    height: 600px;
    background: white;
    border-radius: 10px;
}

.signinForm h1{
    text-align: center;
    padding: 30px 0 30px 0;
    border-bottom: 1px solid silver;
}

.signinForm form{
    padding: 0 40px;
    box-sizing: border-box;
}

form .firstName{
    position: relative;
    border-bottom: 2px solid;
    margin: 40px 0;
}

.firstName input{
    width: 100%;
    padding: 0 5px;
    height: 20px;
    font-size: 16px;;
    border: none;
    background: none;
    outline: none;
}

.firstName label{
    position: absolute;
    top: 110%;  
    left: 5px;
    color: gray;
}

form .lastName{
    position: relative;
    border-bottom: 2px solid;
    margin: 40px 0;
}

.lastName input{
    width: 100%;
    padding: 0 5px;
    height: 20px;
    font-size: 16px;;
    border: none;
    background: none;
    outline: none;
}

.lastName label{
    position: absolute;
    top: 110%;  
    left: 5px;
    color: gray;
}


form .emailCreate{
    position: relative;
    border-bottom: 2px solid;
    margin: 40px 0;
}

.emailCreate input{
    width: 100%;
    padding: 0 5px;
    height: 20px;
    font-size: 16px;;
    border: none;
    background: none;
    outline: none;
}

.emailCreate label{
    position: absolute;
    top: 110%;  
    left: 5px;
    color: gray;
}


form .passCreate{
    position: relative;
    border-bottom: 2px solid;
    margin: 40px 0;
}

.passCreate input{
    width: 100%;
    padding: 0 5px;
    height: 20px;
    font-size: 16px;;
    border: none;
    background: none;
    outline: none;
}

.passCreate label{
    position: absolute;
    top: 110%;  
    left: 5px;
    color: gray;
}

form .confirmPass{
    position: relative;
    border-bottom: 2px solid;
    margin: 40px 0;
}

.confirmPass input{
    width: 100%;
    padding: 0 5px;
    height: 20px;
    font-size: 16px;;
    border: none;
    background: none;
    outline: none;
}

.confirmPass label{
    position: absolute;
    top: 110%;  
    left: 5px;
    color: gray;
}

.signinForm input[type="submit"]{
    width: 100%;
    height: 50px;
    border: 1px solid;
    background: #9FE2BF;
    border-radius: 25px;
    font-size: 18px;
    font-weight: 900;
    outline: none;
}

.loginLink{
    margin: 30px 0;
    text-align: center;
}


#stats{
    background-color: #9FE2BF;
    font-family: "Dosis";
}

.stat{
    text-align: center;
    margin-left: 10px;
}

.chart{
    position: relative;
    width: 152px;
    height: 152px;
    display: inline-block;
    text-align: center;
}

.chart canvas{
    position: absolute;
    left: 0;
    top: 0;
}

.chart .percent{
    line-height: 152px;
    display: inline-block;
    font-size: 35px;
}

.chart .percent:after{
    content: '%';
}

.descriptionStats{
    font-size: 30px;
}

.dietContain{
    padding: 100px 0;
}

.col{
    flex: 1 0;
}

.dietContain{
    text-align: center;
    font-family: "Dosis";
}

.dietCreate{
    color: black;
    background-color: #9FE2BF;
    padding: 15px 20px;
    display: inline-block;
    border: 1px solid #fff;
    border-radius: 2px;
}

.dietCreate:hover{
    text-decoration: none;
    background-color: rgb(159, 226, 191, 0.8);
}

@media only screen and (max-width: 800px){
    #no-more-tables tbody, #no-more-tables tr, #no-more-tables td{
        display: block;
    }

    #no-more-tables thead tr{
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    #no-more-tables td{
        position: relative;
        padding-left: 50%;
    }

    #no-more-tables td:before{
        content: attr(data-title);
        position: absolute;
        left: 6px;
        font-weight: bold;
    }

    #no-more-tables tr{
        border-bottom: 1px solid #ccc;
    }
}

.quiz{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -40%);
    font-family: "Dosis";
    width: 500px;
    height: 750px;
    border-radius: 10px;
}

.quiz form{
    padding: 0 40px;
    box-sizing: border-box;
}

form .ageContainer{
    position: relative;
    border-bottom: 3px solid;
    margin: 40px 0;
}

.ageContainer input{
    width: 100%;
    padding: 0 5px;
    height: 30px;
    font-size: 30px;
    border: none;
    background: none;
    outline: none;
}

.ageContainer label{
    position: absolute;
    top: 110%;  
    left: 5px;
    font-size: 30px;
    color: black;
}

form .heightContainer{
    position: relative;
    border-bottom: 3px solid;
    margin: 120px 0;
}

.heightContainer input{
    width: 100%;
    padding: 0 5px;
    height: 30px;
    font-size: 30px;
    border: none;
    background: none;
    outline: none;
}

.heightContainer label{
    position: absolute;
    top: 110%;  
    left: 5px;
    font-size: 30px;
    color: black;
}

form .weightContainer{
    position: relative;
    border-bottom: 3px solid;
    margin: 120px 0;
}

.weightContainer input{
    width: 100%;
    padding: 0 5px;
    height: 30px;
    font-size: 30px;
    border: none;
    background: none;
    outline: none;
}

.weightContainer label{
    position: absolute;
    top: 110%;  
    left: 5px;
    font-size: 30px;
    color: black;
}

form .genderContainer{
    position: relative;
    margin: 120px 0;
}

.genderContainer select{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 25px;
    border: none;
    background: none;
    outline: none;
    border: 1px solid;
}

.genderContainer label{
    position: absolute;
    top: 110%;  
    left: 5px;
    font-size: 30px;
    color: black;
}  

.quiz input[type="submit"]{
    width: 100%;
    height: 50px;
    border: 1px solid;
    background: #9FE2BF;
    border-radius: 25px;
    font-size: 18px;
    font-weight: 900;
    outline: none;
}

.errorMessage p{
    text-align: center;
    font-size: 40px;
    padding: 10px 10px 10px 10px;
}

#map{
	width: 900px;
	max-width: 100%;
	height: 500px;
}

.containerView{
    width: 800px;
    margin: 50px auto 0;
    display: table;
    box-sizing: border-box;
    font-family: "Dosis";
}

.row{
    margin: 10px 0;
}

.column{
    display: table-cell;
    padding: 10px;
    width: 33.3333%;
    text-align: center;
    color: #000;
    vertical-align: middle;
    border-right: 10px solid #fff;
    border-left: 10px solid #fff;
    font-size: 30px;
}

.containerView h1{
    font-weight: bold;
}

.row:nth-child(1) .column:nth-child(1){
    background: #F5D8BB;
}

.row:nth-child(1) .column:nth-child(2){
    background: #F47D8C;
}

.row:nth-child(1) .column:nth-child(3){
    background: #478b96;
}

.row:nth-child(2) .column:nth-child(1){
    background: #d95a19;
}

.row:nth-child(2) .column:nth-child(2){
    background: #ffd97d;
}

@media (max-width: 900px){
    .containerView{
        margin: 0;
        padding: 10px;
        width: 100%;
    }

    .column{
        width: 100%;
        display: block;
        margin: 10px 0;
        border: none;
        box-sizing: border-box;
    }
}

.returnButton{
    padding-top: 30px;
    width: 100%;
    text-align: center;
    height: 200px;
}

.returnButton input[type="submit"]{
    width: 30%;
    height: 50px;
    border: 1px solid;
    background: #9FE2BF;
    border-radius: 25px;
    font-size: 18px;
    font-weight: 900;
    outline: none;
    font-family: "Dosis";
}

